<div data-controller="clipboard" data-clipboard-disabled-content-value="Copié!">
  <input data-clipboard-target="input" type="text" value="https://www.lewagon.com/" readonly>
  <button class="btn btn-primary" data-action="click->clipboard#copy">Copy to Clipboard</button>
</div>
