<div class="container">
  <div data-controller="clipboard">
    <input data-clipboard-target="source" type="text" value="https://www.lewagon.com/" readonly>
    <button data-action="click->clipboard#copy">Copy to Clipboard</button>
  </div>
</div>
